# In development avoid writing out bytecode to __pycache__ directories.
export PYTHONDONTWRITEBYTECODE=true

# Enable BuildKit by default:
# https://docs.docker.com/develop/develop-images/build_enhancements
export DOCKER_BUILDKIT=1

export COMPOSE_PROJECT_NAME=AbrNOC_BSP

############################## django env ##############################
export SECRET_KEY=insecure_key_for_dev
export DJANGO_PORT=8000

# for development
export DEBUG=true
export ALLOWED_HOSTS="*"

# for production
# export DEBUG=false
# export ALLOWED_HOSTS=".localhost,127.0.0.1,[::1]"
############################## django env ##############################

############################ postgresql env ############################
export POSTGRES_USER=db_admin
export POSTGRES_PASSWORD=svN35q2*UJ7WPN9!
export POSTGRES_DB=BSP
export POSTGRES_PORT=5432
############################ postgresql env ############################

############################# react.js env #############################
export REACTJS_PORT=3001
export NODE_ENV=development
############################# react.js env #############################